body{
    font-family: sans-serif;
    background-color: antiquewhite;
}

#app-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}

#tool-container{
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;

    /*Nested CSS*/
    button{
        border-radius: 4px;
        background-color: white;
        padding: 10px;
        border: 1px solid lightgrey;

        &:hover{
            background-color: lightgrey;
        }

        &.selected{
            background-color: green;
            color: white;
            border-color: green;
        }
    }
}

#drawing-canvas{
    Circle {
        fill: blue;
        stroke: darkblue;
    }
    Circle.temp{
        opacity: 0.5;
        fill: blue;
    }
    Rect{
        fill: red;
        stroke: darkred
    }
    Rect.temp{
        opacity: 0.5;
        stroke: darkred;
    }
    Polygon{
        fill: lightgreen;
        stroke: green;
    }
    .clicked{
        stroke: yellow;
        stroke-width: 3px;
    }
    Line{
        stroke: blueviolet;
        stroke-width: 3px;
    }
}


.widget{
    border-radius: 8px;
    box-shadow: 0 2px 10px gray;
    background-color: whitesmoke;
}